<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="forix_fanphoto" id="forix_fanphoto">
			<module before="Magento_Backend" name="Forix_FanPhoto"/>
		</route>
	</router>
</config>
