<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <netterm>
            <configuration>
                <send_email_netterm>netterm_configuration_send_email_netterm</send_email_netterm>
            </configuration>
        </netterm>
    </default>
</config>
