<?xml version="1.0"?>
<!--
/**
 * Created by Mercurial
 * Job Title: Magento Developer
 * Project Name: M2 - SoftStart Shoes
 * Date: 06/03/2018
 */

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<preference for="Orange35\Colorpickercustom\Block\Product\View\Options" type="Forix\Catalog\Block\Colorpickercustom\Product\View\OptionsPickerCustom"/>-->
    <preference for="Orange35\Colorpickercustom\Block\Product\View\Options\Type\Swatch" type="Forix\Catalog\Block\Colorpickercustom\Product\View\Options\Type\SwatchCustom"/>
</config>

