<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Magento\ConfigurableProduct\Block\Adminhtml\Product\Edit\Tab\Variations\Config\Matrix" type="Forix\Product\Block\Adminhtml\Product\Edit\Tab\Variations\Config\Matrix"/>
    <preference for="Magento\ConfigurableProduct\Ui\DataProvider\Product\Form\Modifier\Data\AssociatedProducts" type="Forix\Product\Ui\DataProvider\Product\Form\Modifier\Data\AssociatedProducts"/>
    <!--<type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="updateConfigurationsRecommend" type="Forix\Product\Controller\Adminhtml\Product\Initialization\Helper\Plugin\UpdateConfigurations" sortOrder="160" />
    </type>-->
    <type name="Magento\ConfigurableProduct\Ui\DataProvider\Product\Form\Modifier\Composite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="configurable_recommend" xsi:type="string">Forix\Product\Ui\DataProvider\Product\Form\Modifier\ConfigurableRecommend</item>
                <item name="forixConfigurableResole" xsi:type="string">\Forix\Product\Ui\DataProvider\Product\Form\Modifier\ConfigurablePanel</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Items\Column\DefaultColumn">
        <plugin name="forix_product_option_adminhtml_plugin"
                type="Forix\Product\Plugin\Adminhtml\Items\Column\DefaultColumn"/>
    </type>
</config>