<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="forix" translate="label" sortOrder="10">
            <label>Forix</label>
        </tab>
        <section id="fseo" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>SEO</label>
            <tab>forix</tab>
            <resource>Magento_Backend::all</resource>
            <group id="settings" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Canonical</label>
                <field id="quicksearch_result_canonical" type="select" translate="label" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Canonical Link Meta Tag For Quick Search Result</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="advancedsearch_result_canonical" type="select" translate="label" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Use Canonical Link Meta Tag For Advanced Search Result</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>