<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Forix_Distributor::zipcode" sortOrder="10" title="zipcode">
					<resource id="Forix_Distributor::zipcode_save" sortOrder="10" title="Save zipcode"/>
					<resource id="Forix_Distributor::zipcode_delete" sortOrder="20" title="Delete zipcode"/>
					<resource id="Forix_Distributor::zipcode_update" sortOrder="30" title="Update zipcode"/>
					<resource id="Forix_Distributor::zipcode_view" sortOrder="40" title="View zipcode"/>
				</resource>
				<resource id="Forix_Distributor::customer" title="Distributor Customer" translate="true" sortOrder="900" />
			</resource>
		</resources>
	</acl>
</config>
