<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\GroupedProduct\Block\Product\View\Type\Grouped"
                type="Forix\Custom\Rewrite\GroupedProduct\Block\Product\View\Type\Grouped" />
</config>
