<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="forix_require_js" frontName="forixjs">
            <module name="Forix_Custom"/>
        </route>
    </router>
</config>