<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	    <sendfriend>
	        <email>
	            <use_fancybox>1</use_fancybox>
				<use_ajax>1</use_ajax>
				<allow_guest>1</allow_guest>
	        </email>
	    </sendfriend>
	</default>
</config>
