<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Paypal\Model\Express\Checkout" type="Forix\AdvancedPaypal\Rewrite\Magento\Paypal\Model\Express\Checkout"/>
    <preference for="Magento\Paypal\Model\PayflowExpress\Checkout" type="Forix\AdvancedPaypal\Rewrite\Magento\Paypal\Model\PayflowExpress\Checkout"/>
</config>
