<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="search_no_results" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>No Results Search Page</label>
            <tab>forix</tab>
            <resource>Magento_Backend::all</resource>
            <group id="settings" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="is_active" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="page_title" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Search Page Title</label>
                    <depends>
                        <field id="is_active">1</field>
                    </depends>
                </field>
                <field id="enable_page_title_headline" type="select" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Page Title Headline</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_warning_message" type="select" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Warning Message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="no_result_text" type="text" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>No Result Text</label>
                    <depends>
                        <field id="is_active">1</field>
                    </depends>
                </field>
                <field id="note" type="textarea" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Note</label>
                    <depends>
                        <field id="is_active">1</field>
                    </depends>
                </field>
                <field id="enable_breadcrumbs" type="select" translate="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Breadcrumbs</label>
                    <depends>
                        <field id="is_active">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="breadcrumbs_title" type="text" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Breadcrumbs Title</label>
                    <depends>
                        <field id="enable_breadcrumbs">1</field>
                    </depends>
                </field>
                <field id="enable_category" type="select" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Category List</label>
                    <depends>
                        <field id="is_active">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
