<?xml version="1.0"?>
<!--
/**
 * Created by Mercurial
 * Job Title: Magento Developer
 * Date: 20/03/2018
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="videos" frontName="videos">
            <module name="Forix_Media" />
        </route>
    </router>
</config>