<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Sales::sales">
                    <resource id="Forix_InvoicePrint::invoiceprint" title="Invoice Print" sortOrder="100">
                        <resource id="Forix_InvoicePrint::invoiceprint_rules" sortOrder="40"
                                  title="Break Item Rules"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>