<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standart">
        <route id="colorpickercustom" frontName="colorpickercustom">
            <module name="Orange35_Colorpickercustom" />
        </route>
    </router>
</config>