<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sendfriend" translate="label" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Email to a Friend</label>
            <tab>catalog</tab>
            <resource>Magento_Backend::sendfriend</resource>
            <group id="email" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Templates</label>
                <field id="use_fancybox" type="select" translate="label" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Use FancyBox2 Popup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_ajax" type="select" translate="label" sortOrder="40" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Use Ajax Submit</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>