<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Amasty\ShopbyBase\Helper\FilterSetting" type="\Forix\FixPerformance\Rewrite\Helper\FilterSetting" />
    <!--<preference for="\MageMojo\Cron\Model\Schedule" type="\Forix\FixPerformance\Rewrite\MageMojo\Cron\Model\Schedule" />-->
</config>
