<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\Shopby\Controller\Search\Result\Index" type="Forix\SearchNoResult\Controller\Rewrite\CatalogSearch\Result\Index" />
    <!--<preference for="Magento\CatalogSearch\Controller\Result\Index" type="Forix\SearchNoResult\Controller\Rewrite\CatalogSearch\Result\Index" />-->
</config>