<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="o35_image_constructor" frontName="o35_image_constructor">
            <module name="Orange35_ImageConstructor" before="Magento_Backend" />
        </route>
    </router>
</config>