<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Fpc
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <fedex>
                <freight_class>CLASS_065</freight_class>
                <freight_packaging>PALLET</freight_packaging>
                <freight_account backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
            </fedex>
        </carriers>
    </default>
</config>
