<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Forix_Guide::download" sortOrder="10" title="download">
					<resource id="Forix_Guide::download_save" sortOrder="10" title="Save download"/>
					<resource id="Forix_Guide::download_delete" sortOrder="20" title="Delete download"/>
					<resource id="Forix_Guide::download_update" sortOrder="30" title="Update download"/>
					<resource id="Forix_Guide::download_view" sortOrder="40" title="View download"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
