<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <magenest_sagepayus>
                <active>0</active>
                <payment_mode>custom</payment_mode>
                <title>Credit Card By Paya</title>
                <sage_environment>prod</sage_environment>
                <test>0</test>
                <sage_debug>0</sage_debug>
                <payment_action>authorize_capture</payment_action>
                <can_save_card>0</can_save_card>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <model>Magenest\SagepayUS\Model\SagepayUSPayment</model>
                <debug>1</debug>
            </magenest_sagepayus>
        </payment>
    </default>
</config>
