<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="core_register_urlrewrite">
        <observer name="sitemap" instance="\Mirasvit\SeoSitemap\Observer\RegisterUrlRewriteObserver"/>
    </event>
</config>
